* 
{
    margin: 0;
    padding: 0;
}

body 
{
	font-family: sans-serif;
    color: #333;
    background: #ffeedd; 
}

a 
{
    text-decoration: none;
    color: inherit;
}

.top-bar 
{
	background: #1a1a1a;
    display: flex;
    align-items: center;
    padding: 30px 50px;
}

.menu a 
{
    color: white;
    margin-left: 70px;
    font-size: 30px;
}

.menu a.active 
{
    color: #ff7f50;
}

.hero 
{
    background-color: #ffcc99; 
    padding: 80px 40px;
    text-align: center;
}

.hero h1 
{
    font-size: 48px;
    color: #ff4500;
}

.hero p 
{
    font-size: 22px;
    color: #800000;
}

.section 
{
    padding: 60px 40px;
    max-width: 1000px;
	margin: auto;
}

.section h2 
{
    font-size: 32px;
    color: #ff6347; 
}

.section p, .section ul 
{
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.section.dark 
{
    background: #ffcc99;
    padding: 60px 40px;
    margin-bottom: 30px;
	border-radius: 1rem;
}

.recensione 
{
    background: #fff;
    padding: 20px;
	margin-bottom: 20px;
	border-radius: 1rem;
}

.recensione h4 
{
    color: #ff4500; 
}

.site-footer 
{
    background: #1a1a1a;
    color: #eee;
    padding: 50px 40px 20px;
}

.footer-content 
{
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.footer-column 
{
    flex: 1;
}

.footer-column h4 
{
    margin-bottom: 15px;
    color: #ff7f50;
}

.footer-column ul 
{
    list-style: none;
}

.footer-column a:hover 
{
    color: #ff7f50;
}

.contact-form 
{
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea 
{
    margin-bottom: 15px;
    padding: 10px;
	border-radius: 1rem;
}

.contact-form button 
{
    background-color: #ff7f50;
    color: #fff;
    padding: 10px;
    font-size: 20px;
	border-radius: 1rem;
}